Repository GenomicMedLab/software-templates, pull requests merged in 2024-05, with the labels that each got.

#29 feat(python): move support to >=3.10
  python/{{cookiecutter.project_slug}}/.github/workflows/checks.yaml
  python/{{cookiecutter.project_slug}}/pyproject.toml
Labels: build, priority:low

#30 feat(python): add issue templates
  python/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/bug-report.yaml
  python/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/feature-request.yaml
Labels: priority:low

#32 chore: update stalebot
  .github/workflows/stale.yml
Labels: chore, priority:low

#31 chore: make contribution optional in issue templates
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: chore, priority:low
