Repository GenomicMedLab/software-templates, pull requests merged in 2024-07, with the labels that each got.

#38 cicd: update min required python version
  .github/workflows/update-python.yaml
Labels: priority:low

#34 build(python): use setuptools-scm
  python/{{cookiecutter.project_slug}}/pyproject.toml
Labels: priority:low

#40 docs: update python usage list
  python/README.md
Labels: priority:low

#39 cicd: add PR label to autogenerated PR
  .github/workflows/update-python.yaml
Labels: priority:low

#41 Update precommit
  .github/workflows/update-python.yaml
  python/{{cookiecutter.project_slug}}/.pre-commit-config.yaml
  python/{{cookiecutter.project_slug}}/pyproject.toml
Labels: priority:low

#42 cicd: update stalebot
  .github/workflows/reusable-stale.yaml
  .github/workflows/stale.yml
Labels: ci, priority:low

#45 feat(python): define version
  python/{{cookiecutter.project_slug}}/src/{{cookiecutter.project_slug}}/__init__.py
Labels: priority:low

#49 fix(pre-commit): add --allow-missing-credentials arg
  python/{{cookiecutter.project_slug}}/.pre-commit-config.yaml
Labels: bug, priority:low
